*,
*::before,
*::after{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body{
  background-color: $color-body;
  color: $color-txt;
  font-family: $font-ja;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  font-feature-settings: "palt";
}
p{
  margin: 0;
}
a{
  color: $color-txt;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}