/* フッター */
.footer{
  background: #282828;
  color: #fff;
  text-align: center;
  padding: 4rem 0 3.5rem;
  margin-top: 10rem;
  .container{
    max-width: 1100px;
  }
  @include mq(sm){
    margin-top: 13.5rem;
  }
}
.footer-nav{
  list-style-type: none;
  padding: 0;
  margin: 0;
  >li{
    border-bottom: 1px solid #393939;
    &:first-child{
      border-top: 1px solid #393939;
    }
    >a{
      display: block;
      padding: 1rem;
      color: #fff;
      transition: opacity .2s ease;
      &:hover{
        text-decoration: none;
        opacity: .5;
      }
    }
  }
  @include mq(sm){
    >li{
      display: inline-block;
      padding: 0 3.5rem;
      line-height: 1.2;
      border-bottom: none;
      border-right: 1px solid #ebeae7;
      &:first-child{
        border-top: none;
        border-left: 1px solid #ebeae7;
      }
      >a{
        padding: 0;
      }
    }
  }
}
.footer-company{
  margin-top: 5.5rem;
  &Name{
    font-weight: bold;
    font-size: 1.6rem;
  }
  &Address{
    margin-top: .5rem;
    font-style: normal;
    font-size: 1.3rem;
    @include mq(sm){
      br{
        display: none;
      }
    }
  }
}
.footer-copyright{
  display: block;
  border-top: 1px solid #393939;
  padding-top: 2.5rem;
  margin-top: 3.5rem;
  color: #ebeae7;
  font-size: 1.1rem;
}