/* ヘッダー */
.header{
  z-index: 2;
  position: absolute;
  top: 0;
  width: 100%;
}
.header-container{
  display: flex;
  justify-content: space-between;
  height: 70px;
}
.header-logo{
  margin: 0;
  margin-left: 1.5rem;
  align-self: center;
  >a{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    &:hover{
      text-decoration: none;
    }
  }
  &Mark{
    max-width: 48px;
    margin-right: 1rem;
  }
  &Type{
    color: $color-txt;
    font-size: 1.4rem;
  }
  @include mq(sm){
    margin-left: 3rem;
    align-self: flex-end;
    &Type{
      font-size: 1.6rem;
    }
  }
}
.header-memberBtn{
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 3.5rem 0 2.5rem;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4rem;
  transition: background-color .2s ease;
  &:hover{
    text-decoration: none;
    background-color: rgba(#000, .7);
    &::after{
      right: 1rem;
    }
  }
  &::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 1.5rem;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    transition: right .2s ease;
  }
  >i{
    margin-right: 1rem;
    >img{
      vertical-align: middle;
    }
  }
  @include mq(sm){
    padding: 0 5.5rem 0 4.5rem;
    font-size: 1.5rem;
  }
}