/* プレースホルダー
============================== */
/* 業種から探す&料金形態から探す リンクボックス */
%indpri-links{
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  >li{
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 160px;
    margin: 1.5rem 0 0;
    background-color: #fff;
    &::before{
      content: '';
      position: absolute;
      bottom: -28px;
      right: -28px;
      width: 56px;
      height: 56px;
      transform: rotate(45deg);
    }
    &::after{
      content: '';
      position: absolute;
      bottom: -22px;
      right: -22px;
      width: 44px;
      height: 44px;
      background-image: url(/assets/img/ico_arrow-01.svg);
      background-repeat: no-repeat;
      background-position: top -1px left -1px;
    }
  }
  @include mq(xs){
    margin: 0 -.75rem;
    >li{
      width: calc((100% - 3rem)/2);
      margin: 1.5rem .75rem 0;
      &:nth-child(1),
      &:nth-child(2){
        margin-top: 0;
      }
    }
  }
  @include mq(sm){
    margin: 0 -1rem;
    >li{
      margin: 2rem 1rem 0;
      width: calc((100% - 6rem)/3);
      &:nth-child(3){
        margin-top: 0;
      }
    }
  }
}
%indpri-link{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  text-align: center;
  height: 100%;
  &:hover{
    text-decoration: none;
  }
  &::before,
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid transparent;
    transition: border .15s linear;
  }
  @include mq(sm){
    padding: 4rem 2.5rem 2.5rem;
  }
}

/* スタイル
============================== */
/* セクション見出し */
.sec-h2{
  position: relative;
  margin: 0 0 3rem;
  padding-bottom: 4rem;
  text-align: center;
  font-size: 2.2rem;
  letter-spacing: .2em;
  line-height: 1.3;
  &::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 2px;
    height: 24px;
    background-color: #000;
  }
  @include mq(sm){
    font-size: 3rem;
  }
}
.sec-h3{
  text-align: center;
  font-size: 2rem;
  margin: 5rem 0;
  >span{
    display: inline-block;
    position: relative;
    &::before,
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      width: 30px;
      height: 1px;
      background-color: #000;
    }
    &::before{
      left: -45px;
    }
    &::after{
      right: -45px;
    }
  }
  @include mq(sm){
    font-size: 2.8rem;
    margin-top: 7rem;
    >span{
      &::before,
      &::after{
        width: 45px;
      }
      &::before{
        left: -80px;
      }
      &::after{
        right: -80px;
      }
    }

  }
}

/* キービジュアル */
.kv{
  position: relative;
  padding: 10rem 0 5rem;
  background-image: url(/assets/img/bg_kv-01.svg), linear-gradient(to right, $color-sub, $color-key);
  background-repeat: repeat-x;
  background-position: bottom 10px center;
  text-align: center;
  .container{
    padding: 0 1.5rem;
  }
  &::before,
  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 10px;
  }
  &::before{
    background-color: $color-key;
    left: 0;
  }
  &::after{
    background-color: $color-sub;
    right: 0;
  }
  @include mq(sm){
    padding: 15rem 0 8.5rem;
    height: 500px;
  }
}
.kv-lead{
  position: relative;
  display: inline-block;
  padding: 0 3rem;
  font-size: 2.2rem;
  line-height: 1.353;
  font-weight: bold;
  color: #fff;
  text-align: center;
  &::before,
  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 2px;
    height: 35px;
    background-color: #fff;
  }
  &::before{
    left: 0;
    transform: rotate(-40deg);
  }
  &::after{
    right: 0;
    transform: rotate(40deg);
  }
  @include mq(sm){
    font-size: 3.4rem;
    padding: 0 7rem;
    br{
      display: none;
    }
    &::before,
    &::after{
      bottom: 5px;
    }
    &::before{
      left: 12px;
    }
    &::after{
      right: 12px;
    }
  }
}
.kv-scnav{
  list-style-type: none;
  margin: 0 -1rem;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  >li{
    width: 100%;
    max-width: 192px;
    margin: 1.5rem 1rem 0;
    position: relative;
    &:hover{
      &::before{
        transform: scale(.95);
      }
    }
    &::before{
      content: '';
      display: block;
      width: 100%;
      padding-top: calc(100% - 6px);
      background: #fff;
      border-radius: 100%;
      border: 3px solid #ebEae7;
      transition: transform .2s ease;
    }
  }
  @include mq(xs){
    >li{
      width: calc((100% - 4rem) / 2);
    }
    
  }
  @include mq(sm){
    margin-top: 3rem;
    >li{
      margin: 0 2.5rem;
    }
  }
}
.kv-scnavLink{
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1.5rem 0 4rem;
  text-decoration: none;
  color: $color-txt;
  text-align: center;
  font-weight: bold;
  line-height: 1.2;
  &:hover{
    text-decoration: none;
  }
  &::after{
    content: '';
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    width: 10px;
    height: 10px;
    margin: auto;
    border-bottom: 2px solid $color-txt;
    border-right: 2px solid $color-txt;
    transform: rotate(45deg);
  }
  @include mq(sm){
    padding-top: 3.5rem;
    &::after{
      bottom: 13%;
    }
  }
}
.kv-scnavIcon{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 1rem;
  img{
    height: 80%;
  }
  @include mq(sm){
    margin-bottom: 1.5rem;
    img{
      height: auto;
    }
  }
}
.kv-scnavLabel{
  line-height: 1.375;
  span{
    display: block;
    font-size: 1.8rem;
  }
  
  @include mq(sm){
    font-size: 1.6rem;
    span{
      font-size: 2rem;
    }
  }
}

/* 新着案件 */
.sec-latest{
  padding: 5rem 0;
  @include mq(sm){
    padding: 9rem 0 9.5rem;
  }
}
#js-slick-latest{
  display: none;
  &.slick-initialized{
    display: block;
  }
}
.latest-job{
    border: 3px solid #ebeae7;
    margin: 0 .5rem;
    @include mq(sm){
      width: 370px !important;
      margin: 0 1rem;
    }
}
.latest-jobHead{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem 1.5rem 2.5rem;
  &Icon{
    width: 70px;
    padding-right: 1rem;
    img{
      margin: 0 auto;
    }
  }
  &Txt{
    flex: 1;
  }
  &Category{
    padding: .3rem 1rem;
    background-color: $color-key;
    color: #fff;
    font-weight: bold;
    font-size: 1.3rem;
  }
  &Name{
    height: calc(1em * 1.4);
    overflow: hidden;
    font-size: 1.8rem;
    margin: 1rem 0 0;
    line-height: 1.4;
  }
  @include mq(sm){
    padding: 2.5rem 2rem 4rem;
    &Icon{
      width: 80px;
      margin-right: 1.5rem;
    }
    &Name{
      font-size: 2rem;
    }
  }
}
.latest-jobSummary{
  background-color: rgba($color-key, .1);
  margin: 0 -3px;
  padding: 2rem 1.5rem;
  >dt{
    float: left;
    font-weight: bold;
    padding-top: 1.5rem;
    &:first-child{
      padding-top: 0;
      +dd{
        padding-top: 0;
      }
    }
  }
  >dd{
    position: relative;
    padding-top: 1.5rem;
    margin-left: 6em;
    padding-bottom: .5rem;
    &:last-child{
      padding-bottom: 0;
      &::after{
        display: none;
      }
    }
    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: -6em;
      border-top: 1px solid #ebe3d5;
    }
  }
  @include mq(sm){
    padding: 2.5rem;
  }
}
.latest-jobDescription{
  padding: 1.5rem;
  >p{
    height: calc((1em * 1.6)*2);
    overflow: hidden;

  }
  @include mq(sm){
    padding: 2.5rem 2.5rem 4rem;
  }
}

/* 業種から探す */
.sec-industry{
  padding: 5rem 0;
  @include mq(sm){
    padding: 9rem 0 7.5rem;
  }
  background-color: $color-key;
  .sec-h2{
    color: #fff;
    &::before{
      background-color: #fff;
    }
  }
  .container{
    max-width: 970px;
  }
}
.industry-links{
  @extend %indpri-links;
  >li{
    box-shadow: 6px 6px 0 rgba(#000, .05);
    &::before{
      background-color: #000;
    }
  }
}
.industry-link{
  @extend %indpri-link;
  &:hover{
    &::before{
      border: 3px solid #000;
    }
  }
  &Icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 72px;
  }
  &Head{
    font-size: 1.7rem;
    line-height: 1.4;
    margin: 1.5rem 0 0;
  }
  &Summary{
    font-size: 1.2rem;
  }
  @include mq(sm){
    &Icon{
      transform: scale(1.1);
    }
    &Head{
      font-size: 1.9rem;
      margin-top: 2.5rem;
    }
    &Summary{
      font-size: 1.4rem;
    }
  }
}

/* エリアから探す */
.sec-area{
  padding: 5rem 0;
  @include mq(sm){
    padding: 9rem 0 5rem;
  }
  .container{
    max-width: 1000px;
  }
}
.area-cont{
  text-align: center;
  &Pref{
    margin-top: -40px;
  }
  @include mq(sm){
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    &Pref{
      width: 40.5%;
      margin-right: 5%;
    }
  }
  @include mq(md){
    &Pref{
      margin-top: -80px;
    }
  }
}
.area-links{
  list-style-type: none;
  margin: 0;
  padding: 0;
  >li{
    margin-top: 1.5rem;
  }
  @include mq(sm){
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 6rem -.75rem 0;
    height: auto;
    >li{
      width: calc((100% - 3rem)/2);
      margin: 1.5rem .75rem 0;
      &:nth-child(1),
      &:nth-child(2){
        margin-top: 0;
      }
    }
  }
}
.area-link{
  position: relative;
  display: block;
  border: 2px solid $color-key;
  padding: 2rem;
  font-weight: bold;
  text-align: center;
  transition: background-color .2s ease;
  &:hover{
    text-decoration: none;
    background-color: rgba($color-key, .1);
    &::after{
      right: 1.5rem;
    }
  }
  &::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 2rem;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    border-top: 2px solid $color-txt;
    border-right: 2px solid $color-txt;
    transform: rotate(45deg);
    transition: right .2s ease;
  }
  @include mq(sm){
    font-size: 1.6rem;
  }
}

/* 料金形態から探す */
.sec-price{
  padding: 5rem 0;
  @include mq(sm){
    padding: 7rem 0 6rem;
  }
  background-color: rgba($color-key, .1);
  .container{
    max-width: 1100px;
  }
}
.price-links{
  @extend %indpri-links;
  >li{
    &::before{
      background-color: $color-key;
    }
  }
  @include mq(sm){
    >li{
      width: calc((100% - 9rem)/4);
      &:nth-child(4){
        margin-top: 0;
      }
    }
  }
}
.price-link{
  @extend %indpri-link;
  &::after{
    border: 3px solid #ebEae7;
  }
  &::before{
    z-index: 2;
  }
  &:hover{
    &::before{
      border: 3px solid $color-key;
    }
  }
  &Head{
    font-size: 1.7rem;
    line-height: 1.4;
    margin: 1.5rem 0 0;
  }
  &Summary{
    font-size: 1.2rem;
  }
  @include mq(sm){
    &Icon{
      transform: scale(1.1);
    }
    &Head{
      font-size: 1.9rem;
      margin-top: 2rem;
    }
    &Summary{
      font-size: 1.8rem;
    }
  }
}

/* 特徴 */
.sec-feature{
  padding: 5rem 0;
  @include mq(sm){
    padding: 10rem 0;
  }
  padding-bottom: 0;
  @include mq(sm){
    padding-bottom: 0;
  }
  .container{
    max-width: 1050px;
  }
}
.feature-lead{
  font-size: 1.6rem;
  @include mq(sm){
    font-size: 1.7rem;
    text-align: center;
  }
}
.feature-merit{
  list-style-type: none;
  padding: 0;
  margin: 4rem 0 0;
  >li{
    max-width: 300px;
    margin: 3rem auto 0;
    &:first-child{
      margin-top: 0;
    }
  }
  @include mq(sm){
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    >li{
      width: 29.3%;
      margin: 0;
    }
  }
}
.feature-meritHead{
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.4;
  max-width: 140px;
  width: 100%;
  position: relative;
  margin: 0 auto 1.5rem;
  &::before{
    content: '';
    display: block;
    width: 100%;
    padding-top: calc(100% - 6px);
    background: rgba($color-key, .2);
    border-radius: 100%;
  }
  &Icon{
    position: absolute;
    top: 2rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: scale(.8);
  }
  &Txt{
    display: block;
    margin-top: -4rem;
    >span{
      font-size: 2.5rem;
      display: block;
    }
  }
  @include mq(sm){
    max-width: 195px;
    &Icon{
      width: 100%;
      top: 6rem;
      transform: scale(1);
    }
    &Txt{
      margin-top: -4.2rem;
      >span{
        font-size: 3rem;
      }
    }
  }
}
.flow-list{
  list-style-type: none;
  padding: 0;
  margin: 0;
  >li{
    max-width: 450px;
    margin: 4.5rem auto 0;
    position: relative;
    &:first-child{
      margin-top: 0;
      &::before,
      &::after{
        display: none;
      }
    }
    &::before,
    &::after{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      width: 10px;
      height: 10px;
      margin: auto;
      border-bottom: 2px solid $color-key;
      border-right: 2px solid $color-key;
      transform: rotate(45deg);
    }
    &::before{
      top: -30px;
    }
    &::after{
      top: -40px;
    }
  }
  &Eyecatch{
    position: relative;
  }
  &Step{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: .3rem 1.5rem 0;
    background-color: $color-key;
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.2;
    >span{
      font-size: 2.6rem;
      margin-left: 1rem;
      margin-bottom: .2rem;
    }
  }
  &Head{
    margin: 2rem 0 1rem;
    font-size: 1.8rem;
    font-weight: bold;
  }
  @include mq(sm){
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2.5rem;
    >li{
      width: calc((100% - 20rem)/4);
      margin: 0 2.5rem;
      &::before,
      &::after{
        right: auto;
        top: 80px;
        transform: rotate(-45deg);
      }
      &::before{
        left: -27px;
      }
      &::after{
        left: -37px;
      }
    }
    &Head{
      font-size: 2rem;
    }
  }
}