/* color */
$color-body : #fff;
$color-txt  : #000;

$color-key  : #eba438;
$color-sub  : #e6cc00;

/* font */
$font-ja    : "Yu Gothic", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;

/* breakpoint */
$breakpoints: (
  "xs": "screen and (min-width: 375px)",
  "sm": "screen and (min-width: 768px)",
  "md": "screen and (min-width: 1024px)",
);